.home{
  height: 100%;
  .el-statistic{
    cursor: pointer;
    .el-statistic__head{
      font-size: 14px;
    }
  }
  .el-calendar-table .el-calendar-day{
    height: 56px !important;
  }
  .el-calendar-table .el-calendar-day{
    padding: 0 !important;
  }
  .el-row{
    margin-bottom: 20px;
  }
  .homeCardOrder{
    &>.el-card{
      width: 100%;
    }
  }
  .home-calendar{
    .el-calendar__header{
      padding: 0;
      border-bottom: none
    }
    .el-calendar__body{
      padding: 0;
      padding-top: 30px;
    }
  }
}