.el-form--inline .el-form-item__content{
  width: 230px;
}
.el-cascader{
  width: 100%;
}

.el-table .el-table__cell{
  text-align: center;
}
.headerScroll{
  width: 140px;
}
.cardHeaderFrom.el-form--inline .el-form-item__content{
  width: auto !important;
}
.userCascader .el-form-item__content .el-cascader .el-cascader__tags > .el-tag{
  display: none;
}
.cardHeaderFrom.el-form--inline .el-form-item{
  margin-right: 10px;
  margin-bottom: 10px;
}
.cardHeaderFrom .el-form-item__label{
  text-align: justify;
  text-align-last: justify;
  display: inline-block;
}
.el-menu--vertical .el-sub-menu .el-menu > .el-menu-item{
  padding-left: 30px !important;
}
.el-menu-vertical-demo .el-sub-menu .el-sub-menu__title, .el-menu-vertical-demo > .el-menu-item{
  font-weight: bold;
  font-size: 16px;
}
.el-menu-vertical-demo .el-sub-menu .el-menu--inline .el-menu-item{
  font-size: 14px;
}
.el-menu-vertical-demo > .is-active > .el-sub-menu__title{
  color: var(--el-menu-active-color);
}
.el-menu{
  border-right: 0 !important;
}
.el-dialog__header.show-close{
  padding-right: 0 !important;
}
.multipleStyle .el-tag.is-closable{
  width: 96px;
}
.multipleStyle .el-select__selection .el-tag .el-tag__content{
  width: 100%;
}
.textButton.el-button--text{
  color: red;
}
.textButton.el-button--text:not(.is-disabled):hover{
  color: #fd4545;
}
.disabled .el-select__wrapper.is-disabled{
  background-color: initial !important;
}
.disabled .el-select__wrapper.is-disabled .el-select__selected-item.is-transparent{
  color: var(--el-text-color-placeholder);
}
.disabled .el-select__wrapper.is-disabled .el-select__selected-item{
  color: var(--el-input-text-color, var(--el-text-color-regular));
}
.el-table__expand-column .cell{
  padding: 0 !important;
}
/* el-table滚动条样式 */
.el-scrollbar .el-scrollbar__bar.is-horizontal {
  height: 6px; /* 添加横向高度 */
}
.el-scrollbar .el-scrollbar__bar.is-vertical {
  width: 6px; /* 添加纵向宽度 */
}
/* 横向滚动条 */
.el-scrollbar .el-scrollbar__bar.is-horizontal .el-scrollbar__thumb {
  opacity: 1; /* 默认滚动条自带透明度 */
  height: 6px; /* 横向滑块的宽度 */
  border-radius: 6px; /* 圆角度数 */
  background-color: rgba(82, 196, 26, 1); /* 滑块背景色 */
}
/* 纵向滚动条 */
.el-scrollbar .el-scrollbar__bar.is-vertical .el-scrollbar__thumb {
  opacity: 1;
  width: 6px; /* 纵向滑块的宽度 */
  border-radius: 6px;
  background-color: rgba(82, 196, 26, 1);
}
	
:root{
  --el-fill-color-light: #e7e7e7;
}