.el-form--inline .el-form-item__content{
  width: 230px;
}
.el-cascader{
  width: 100%;
}

.el-table .el-table__cell{
  text-align: center;
}
.headerScroll{
  width: 140px;
}
.cardHeaderFrom.el-form--inline .el-form-item__content{
  width: auto !important;
}
.userCascader .el-form-item__content .el-cascader .el-cascader__tags > .el-tag{
  display: none;
}
.cardHeaderFrom.el-form--inline .el-form-item{
  margin-right: 10px;
  margin-bottom: 10px;
}
.cardHeaderFrom .el-form-item__label{
  text-align: justify;
  text-align-last: justify;
  display: inline-block;
}
.el-menu--vertical .el-sub-menu .el-menu > .el-menu-item{
  padding-left: 30px !important;
}
.el-menu-vertical-demo .el-sub-menu .el-sub-menu__title, .el-menu-vertical-demo > .el-menu-item{
  font-weight: bold;
  font-size: 16px;
}
.el-menu-vertical-demo .el-sub-menu .el-menu--inline .el-menu-item{
  font-size: 14px;
}
.el-menu-vertical-demo > .is-active > .el-sub-menu__title{
  color: var(--el-menu-active-color);
}
:root{
  --el-fill-color-light: #e7e7e7;
}