.production{
  .el-input__prefix{
    display: none;
  }
  .el-table__inner-wrapper .el-table__body-wrapper .el-scrollbar .el-table__body .el-table__row{
    padding: 0;
    .el-table__cell{
      padding: 0;
      .cell{
        padding: 0;
        line-height: 1;
        .myCell{
          padding: 10px 12px;
        }
      }
    }
  }
}